// *************************************
//
//   Fonts
//   -> font-face
//
// *************************************

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat-Regular'), url(fonts/Montserrat400.woff) format('woff');
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: local('Montserrat-Bold'), url(fonts/Montserrat800.woff) format('woff');
}
