%ul
  %li= link_to 'token', 'token.html', :relative => true
  %li= link_to 'single_selection', 'single_selection.html', :relative => true
  %li= link_to 'multiple_selection', 'multiple_selection.html', :relative => true
  %li= link_to 'done', 'done.html', :relative => true
