= form_tag '', :class => 'step2-form', :method => 'post' do
  %hgroup
    %h1 NTU Voting
    %h2 點選你想要投給誰
  = submit_tag "Submit", :class => "button"
  = text_field_tag :selection, :id => :selection, :type => :hidden
  - 50.times do |i|
    %section.candidate.selection
      .id= i+1
      .pic
        .img{:style => "background-image: url(" + lorem.image((Random.rand(200)+200).to_s + 'x' + (Random.rand(200)+200).to_s, :random_color => true) + ")"}
      %h1.name ◎◎◎
      .elect
