.password-block {

	.passwords {
		position: relative;
		display: block;
		overflow: hidden;
		background-color: #eee;
		border: 1px solid #aaa;
		@include border-radius(4px);
		@include box-shadow(0 1px 2px rgba(0,0,0, .3) inset, 0 1px 2px rgba(255,255,255, .3));

		input {
			border: none;
			border-left: 1px solid #ccc;
			border-right: 1px solid #ccc;
			font-size: 22px;
			padding: 4px 8px;

			@include box-shadow(0 1px 2px rgba(0,0,0, .3) inset, 0 0 10px rgba(0,0,0, .18) inset);
		}

		input:first-child {
			border-left: none;
			@include border-top-left-radius(4px);
			@include border-bottom-left-radius(4px);
		}

		input:last-child {
			border-right: none;
			@include border-top-right-radius(4px);
			@include border-bottom-right-radius(4px);
		}
	}

	#password1 {
		width: 5em;
	}

	#password2 {
		width: 4em;
	}

	#password3 {
		width: 4em;
	}

	.input {
		display: inline-block;
		position: relative;
		padding: 16px 18px;
		@include border-radius(4px);
		background-color: #888;
		@include box-shadow(0 1px 2px rgba(255,255,255, .3), 0 1px 2px rgba(0,0,0, .3) inset);

		.label {
			position: relative;
			display: block;
			float: left;
			line-height: 22px;
			vertical-align: center;
			padding: 9px 12px 0 0;
			@include text-shadow(0 1px 2px rgba(255,255,255, .3));
		}

		&.error {
			background-color: #f55;
			color: #900;
		}
	}
}
