// *************************************
//
//   Vote
//   -> é¸ç¥¨
//
// *************************************

.vote {
	@include box-shadow(0 1px 4px rgba(0, 0, 0, 0.5), 0 0 40px rgba(128, 128, 128, 0.12) inset, 0 4px 12px rgba(0, 0, 0, 0.32));
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 16px;
	margin: 24px 8px;
	background-color: #fff;
	white-space: nowrap;

	&:only-child, &:first-of-type { margin-left: 18px; }
	&:only-child, &:last-of-type { margin-right: 18px; }

	@for $i from 1 through 100 {
		&:nth-of-type(#{$i}) {
			@include transition-delay(#{$i/10}s);
		}
	}

	@include transition-property(all);
	@include transition-duration(1s);

	@include opacity(0);
	@include translateY(20px);

	body.ready & {
		@include opacity(1);
		@include translateY(0);
	}

	body.sending & {
		@include opacity(0);
		@include translateY(-160px);
		@include transition-duration(1.5s);
	}

	body.skipping & {
		@include opacity(0);
		@include translateY(160px);
		@include transition-duration(1.5s);
	}

	> * {
		display: inline-block;
	}
}
