@import 'compass';
@import 'susy';

// -------------------------------------
//   Settings
// -------------------------------------

$RB-size: 66px;
$red: hsl(360, 61%, 60%);
$green: hsl(115, 57%, 60%);
$blue: hsl(200, 65%, 91%);

// -------------------------------------
//   Susy
// -------------------------------------

$total-columns: 12;
$column-width: 4em;
$gutter-width: 2em;
$grid-padding: $gutter-width*1.2;

// -------------------------------------
//   Fonts
// -------------------------------------

@import "core/fonts";

// -------------------------------------
//   Base64 Image
// -------------------------------------

@import "core/images";

// -------------------------------------
//   Elements
// -------------------------------------

@import "elements/button";

// -------------------------------------
//   Base
// -------------------------------------

@import "core/base";

// -------------------------------------
//   Layout
// -------------------------------------

@import "core/layout";

// -------------------------------------
//   Models
// -------------------------------------

@import "models/header";
@import "models/vote";
@import "models/password-block";
