// *************************************
//
//   Main
//   -> NTU Voting
//
// *************************************

@import 'compass';
// @import 'susy';

// -------------------------------------
//   Settings
// -------------------------------------

$RB-size: 66px;
$base-dark-color: #111;
$base-light-color: #fff;
$red: #ff2d55;
$green: #4cd964;
$blue: #34aadc;
$yello: #ffdb4c;
$base-backgroundColor: #44515f;
$candidate-border-color: #888;

// -------------------------------------
//   Susy
// -------------------------------------

// $total-columns: 12;
// $column-width: 4em;
// $gutter-width: 2em;
// $grid-padding: $gutter-width*1.2;

// -------------------------------------
//   Fonts
// -------------------------------------

@import "core/fonts";

// -------------------------------------
//   Base64 Image
// -------------------------------------

@import "core/images";

// -------------------------------------
//   Animations
// -------------------------------------

@import "core/animations";

// -------------------------------------
//   Helpers
// -------------------------------------

@import "core/helpers";

// -------------------------------------
//   Mixins
// -------------------------------------

@import "mixins/button";

// -------------------------------------
//   Base
// -------------------------------------

@import "core/base";

// -------------------------------------
//   Layout
// -------------------------------------

@import "core/layout";

// -------------------------------------
//   Models
// -------------------------------------

@import "models/header";
@import "models/vote";
@import "models/candidate";
@import "models/password-block";
@import "models/done";
